body, html { 
    margin: 0;
    padding: 0;
    height: 100%;
}

#intro {
    border: 0 !important;
    padding: 0 !important; 
    min-height: 100%;
    min-width: 100%;
}

.hero-banner:after{
    background: url(../img/banner/festival.PNG) left center no-repeat;
    background-size: cover;
    background-color: rgba( 255, 255, 255, 0.2 );
    height: 100%;
    opacity: 0.8;
}

.header-area{
    background-color : white !important;
}   

.display-1{
    font-size:17px !important;
}

.single-recent-blog-post{
    opacity : 0;
    transition : 0.4s;
}

.active{
    opacity: 1;
    transition-delay: 0.5s;
}

.tag-list-inline{
    font-family: "Noto Sans KR",serif;
}

/*
.single-recent-blog-posts.active .single-recent-blog-post:nth-child(1) {transition-delay: 0.1s;}
.single-recent-blog-posts.active .single-recent-blog-post:nth-child(2) {transition-delay: 0.2s;}
.single-recent-blog-posts.active .single-recent-blog-post:nth-child(3) {transition-delay: 0.4s;}
.single-recent-blog-posts.active .single-recent-blog-post:nth-child(4) {transition-delay: 0.6s;}
*/


/*.mt-50px{
    margin-top: 100px !important;
}*/

/*
.page{
    scroll-snap-type: y mandatory;
}

.pages{
    scroll-snap-align: start;
}*/